<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/png" th:href="@{/admin/assets/images/favicon.png}"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i"/>
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/bootstrap/css/bootstrap.ltr.css}"/>
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/highlight.js/styles/github.css}"/>
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/simplebar/simplebar.min.css}"/>
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/quill/quill.snow.css}"/>
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/air-datepicker/css/datepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/select2/css/select2.min.css}"/>
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/datatables/css/dataTables.bootstrap5.min.css}"/>
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/nouislider/nouislider.min.css}"/>
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/fullcalendar/main.min.css}"/>
    <link rel="stylesheet" th:href="@{/admin/assets/css/style.css}"/>
</head>
</html>