<!DOCTYPE html>
<html lang="en" dir="ltr" data-scompiler-id="0" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charSet="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>Maiyon eCommerce Admin Dashboard</title>
    <th:block th:insert = "~{/admin/Fragments/Styles/css-fragment :: link}"></th:block>
    <th:block th:insert = "~{/admin/Fragments/Scripts/js-header-fragment :: script}"></th:block>
</head>
<body>
<div class="sa-app sa-app--desktop-sidebar-shown sa-app--mobile-sidebar-hidden sa-app--toolbar-fixed">
    <th:block th:replace="~{admin/Layouts/admin-fragment :: sidebarFragment}"></th:block>
    <div th:fragment="mainFragment" class="sa-app__content">
        <th:block th:replace="~{admin/Layouts/admin-fragment :: toolbarFragment}"></th:block>
        <th:block th:replace="~{admin/Fragments/Components/product-detail-component :: productDetailFragment}"></th:block>
        <th:block th:replace="~{admin/Layouts/admin-fragment :: toastFragment}"></th:block>
        <th:block th:insert = "~{admin/Fragments/Scripts/js-footer-fragment :: script}"></th:block>
    </div>
</div>
</body>
</html>