<div class="sa-app__body" id="top" th:fragment="categoryDetailFragment">
        <div class="mx-sm-2 px-2 px-sm-3 px-xxl-4 pb-6">
            <div class="container container--max--xl">
                <!--/*@thymesVar id="category" type="com.maiyon.model.entity.Category"*/-->
                <form th:action="@{/admin/categories/update}" method="post" th:object="${category}">
                    <input name="text" class="form-control here slug-title" type="hidden" th:field="*{categoryId}">
                    <div class="py-5">
                        <div class="row g-4 align-items-center">
                            <div class="col">
                                <h1 class="h3 m-0">Category detail</h1></div>
                            <div class="col-auto d-flex">
                                <a class="btn btn-danger" href="/admin/categories">Back</a>
                            </div>
                        </div>
                    </div>
                    <div class="sa-entity-layout"
                         data-sa-container-query="{&quot;920&quot;:&quot;sa-entity-layout--size--md&quot;,&quot;1100&quot;:&quot;sa-entity-layout--size--lg&quot;}">
                        <div class="sa-entity-layout__body">
                            <div class="sa-entity-layout__main">
                                <div class="card">
                                    <div class="card-body p-5">
                                        <div class="mb-5"><h2 class="mb-0 fs-exact-18">Basic information</h2></div>
                                        <div class="mb-4">
                                            <label class="form-label" for="form-category/name">Category name</label>
                                            <input
                                                class="form-control"
                                                id="form-category/name"
                                                type="text"
                                                disabled="disabled"
                                                th:field="*{categoryName}"/>
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label" for="form-category/description">Description</label>
                                            <input
                                                class="form-control"
                                                id="form-category/description"
                                                type="text"
                                                disabled="disabled"
                                                th:field="*{description}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sa-entity-layout__sidebar">
                                <div class="card w-100">
                                    <div class="card-body p-5">
                                        <div class="mb-5"><h2 class="mb-0 fs-exact-18">Status</h2></div>
                                        <div class="mb-4" th:each="status : ${T(com.maiyon.model.enums.ActiveStatus).values()}">
                                            <label class="form-check">
                                                <input class="form-check-input" name="status" type="radio" disabled="disabled" th:field="*{status}" th:value="${status}" th:id="${status.name()}"/>
                                                <span class="form-check-label" th:for="${status.name()}" th:text="${status.name()}"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>