<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
    <head>
        <script th:src="@{/admin/assets/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/admin/assets/vendor/feather-icons/feather.min.js}"></script>
        <script th:src="@{/admin/assets/vendor/simplebar/simplebar.min.js}"></script>
        <script th:src="@{/admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/admin/assets/vendor/highlight.js/highlight.pack.js}"></script>
        <script th:src="@{/admin/assets/vendor/quill/quill.min.js}"></script>
        <script th:src="@{/admin/assets/vendor/air-datepicker/js/datepicker.min.js}"></script>
        <script th:src="@{/admin/assets/vendor/air-datepicker/js/i18n/datepicker.en.js}"></script>
        <script th:src="@{/admin/assets/vendor/select2/js/select2.min.js}"></script>
        <script th:src="@{/admin/assets/vendor/fontawesome/js/all.min.js}" data-auto-replace-svg="" async=""></script>
        <script th:src="@{/admin/assets/vendor/chart.js/chart.min.js}"></script>
        <script th:src="@{/admin/assets/vendor/datatables/js/jquery.dataTables.min.js}"></script>
        <script th:src="@{/admin/assets/vendor/datatables/js/dataTables.bootstrap5.min.js}"></script>
        <script th:src="@{/admin/assets/vendor/nouislider/nouislider.min.js}"></script>
        <script th:src="@{/admin/assets/vendor/fullcalendar/main.min.js}"></script>
        <script th:src="@{/admin/assets/js/stroyka.js}"></script>
        <script th:src="@{/admin/assets/js/custom.js}"></script>
        <script th:src="@{/admin/assets/js/calendar.js}"></script>
        <script th:src="@{/admin/assets/js/demo.js}"></script>
        <script th:src="@{/admin/assets/js/demo-chart-js.js}"></script>
    </head>
</html>