<div class="products-list row" th:fragment="productListFragment">
    <div class="product-layout product-grid product-grid-5 col-xl-15 col-md-4 col-6" th:each="product:${products}">
        <article class="product-item-container ">
            <div class="left-block ">
                <div class="sale-flag-side">
                    <span class="sale-text">Sale</span>
                </div>
                <a href="sample-smith-journal-13/index.html" class="product-item-photo">
                    <img class="img-responsive lazyload" data-sizes="auto"
                         src="https://cdn11.bigcommerce.com/s-reovc816ii/stencil/cb63c5a0-43ba-0137-6c75-0242ac11000d/e/20bb3000-43eb-0137-13a6-0242ac110004/img/loading.svg"
                         data-src="https://cdn11.bigcommerce.com/s-reovc816ii/images/stencil/260x260/products/111/376/9__40589.1554886068.jpg?c=2"
                         alt="[Sample] Smith Journal 13" title="[Sample] Smith Journal 13">
                </a>
                <a href="#" class="quickview btn-button d-none d-md-block"
                   data-animation="false" data-product-id="111" title="Quick view"> <i
                        class="fa fa-eye"></i></a>
            </div>
            <div class="right-block" data-card-body="111">
                <div class="ratings ">
                    <div class="prod-rating" data-test-info-type="productRating">
                                                    <span class="rating--small">
                                                        <span class="icon icon--ratingEmpty">
                                                            <svg>
                                                                <use xlink:href="#icon-star" />
                                                            </svg>
                                                        </span>
                                                        <span class="icon icon--ratingEmpty">
                                                            <svg>
                                                                <use xlink:href="#icon-star" />
                                                            </svg>
                                                        </span>
                                                        <span class="icon icon--ratingEmpty">
                                                            <svg>
                                                                <use xlink:href="#icon-star" />
                                                            </svg>
                                                        </span>
                                                        <span class="icon icon--ratingEmpty">
                                                            <svg>
                                                                <use xlink:href="#icon-star" />
                                                            </svg>
                                                        </span>
                                                        <span class="icon icon--ratingEmpty">
                                                            <svg>
                                                                <use xlink:href="#icon-star" />
                                                            </svg>
                                                        </span>
                                                    </span>
                    </div>
                </div>
                <h4 class="card-title">
                    <a href="sample-smith-journal-13/index.html" th:text="${product.productName}"></a>
                </h4>
                <div class="price-section price-section--withoutTax ">
                    <span data-product-price-without-tax class="price price--withoutTax" th:text="${#numbers.formatDecimal(product.unitPrice, 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
                    <span data-product-price-without-tax class="price price--withoutTax">VNĐ</span>
                    <!--                                                <span data-product-non-sale-price-without-tax class="price price&#45;&#45;rrp">-->
                    <!--                                                    $225.00</span>-->
                </div>
                <div class="description">
                    <span th:text="${product.description}"></span>
                </div>
                <div class="button-group">
                    <div class="action-item addToCart">
                        <a href="cart.html?action=add&amp;product_id=111" data-addtocart
                           data-product-id="111" data-wait-message="Add to Cart"
                           class="action-link  button--cart" title="Add to Cart"> Add to Cart</a>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>