<div class="container" th:fragment="registerFragment">
    <h1 class="page-heading">New Account</h1>
    <div class="account account--fixed">
        <div class="account-body">
            <form action="https://sb-supermarket.mybigcommerce.com/login.php?action=save_new_account" data-create-account-form method="post" class="form">
                <div class="form-row form-row--half">
                    <div class="form-field" id="FormField_1" data-validation="{&quot;type&quot;:&quot;singleline&quot;,&quot;label&quot;:&quot;Email Address&quot;,&quot;required&quot;:true,&quot;maxlength&quot;:0}" data-type="EmailAddress">
                        <label class="form-label" for="FormField_1_input">Email Address
                            <small>Required</small>
                        </label>
                        <input type="text" id="FormField_1_input" data-label="Email Address" name="FormField[1][1]"  class="form-input" aria-required="true" data-field-type="EmailAddress">
                    </div>
                    <div class="form-field" id="FormField_2" data-validation="{&quot;type&quot;:&quot;password&quot;,&quot;label&quot;:&quot;Password&quot;,&quot;required&quot;:true,&quot;maxlength&quot;:0}" data-type="Password">
                        <label class="form-label" for="FormField_2_input">Password
                            <small>Required</small>
                        </label>
                        <input type="password"  class="form-input" id="FormField_2_input" data-label="Password" name="FormField[1][2]" value="" autocomplete="off" aria-required="true" data-field-type="Password">
                    </div>
                    <div class="form-field" id="FormField_3" data-validation="{&quot;type&quot;:&quot;password&quot;,&quot;label&quot;:&quot;Confirm Password&quot;,&quot;required&quot;:true,&quot;maxlength&quot;:0}" data-type="ConfirmPassword">
                        <label class="form-label" for="FormField_3_input">Confirm Password
                            <small>Required</small>
                        </label>
                        <input type="password"  class="form-input" id="FormField_3_input" data-label="Confirm Password" name="FormField[1][3]" value="" autocomplete="off" aria-required="true" data-field-type="ConfirmPassword">
                    </div>
                    <div class="form-field" id="FormField_4" data-validation="{&quot;type&quot;:&quot;singleline&quot;,&quot;label&quot;:&quot;First Name&quot;,&quot;required&quot;:true,&quot;maxlength&quot;:0}" data-type="FirstName">
                        <label class="form-label" for="FormField_4_input">First Name
                            <small>Required</small>
                        </label>
                        <input type="text" id="FormField_4_input" data-label="First Name" name="FormField[2][4]"  class="form-input" aria-required="true" data-field-type="FirstName">
                    </div>
                    <div class="form-field" id="FormField_5" data-validation="{&quot;type&quot;:&quot;singleline&quot;,&quot;label&quot;:&quot;Last Name&quot;,&quot;required&quot;:true,&quot;maxlength&quot;:0}" data-type="LastName">
                        <label class="form-label" for="FormField_5_input">Last Name
                            <small>Required</small>
                        </label>
                        <input type="text" id="FormField_5_input" data-label="Last Name" name="FormField[2][5]"  class="form-input" aria-required="true" data-field-type="LastName">
                    </div>
                    <div class="form-field" id="FormField_6" data-validation="{&quot;type&quot;:&quot;singleline&quot;,&quot;label&quot;:&quot;Company Name&quot;,&quot;required&quot;:false,&quot;maxlength&quot;:0}" data-type="CompanyName">
                        <label class="form-label" for="FormField_6_input">Company Name

                        </label>
                        <input type="text" id="FormField_6_input" data-label="Company Name" name="FormField[2][6]"  class="form-input" aria-required="false" data-field-type="CompanyName">
                    </div>
                    <div class="form-field" id="FormField_7" data-validation="{&quot;type&quot;:&quot;singleline&quot;,&quot;label&quot;:&quot;Phone Number&quot;,&quot;required&quot;:false,&quot;maxlength&quot;:0}" data-type="Phone">
                        <label class="form-label" for="FormField_7_input">Phone Number

                        </label>
                        <input type="text" id="FormField_7_input" data-label="Phone Number" name="FormField[2][7]"  class="form-input" aria-required="false" data-field-type="Phone">
                    </div>
                    <div class="form-field" id="FormField_8" data-validation="{&quot;type&quot;:&quot;singleline&quot;,&quot;label&quot;:&quot;Address Line 1&quot;,&quot;required&quot;:true,&quot;maxlength&quot;:0}" data-type="AddressLine1">
                        <label class="form-label" for="FormField_8_input">Address
                            <small>Required</small>
                        </label>
                        <input type="text" id="FormField_8_input" data-label="Address Line 1" name="FormField[2][8]"  class="form-input" aria-required="true" data-field-type="AddressLine">
                    </div>
                </div>
                <div class="g-recaptcha" data-sitekey="6LcjX0sbAAAAACp92-MNpx66FT4pbIWh-FTDmkkz"></div><br/>
                <div class="form-actions">
                    <input type="submit" class="button button--primary" value="Create Account" />
                </div>
            </form>
        </div>
    </div>
</div>