<div class="col-xxl-2 col-lg-3 page-sidebar sidebar-offcanvas" id="faceted-search-container" th:fragment="sideCategoriesFragment">
    <nav>
        <span id="close-sidebar" class=" fa fa-times"></span>
        <div class="module sidebar--categories" >
            <h5 class="block-title"> All Categories</h5>
            <div class="block-content clearfix">
                <ul class="navList">
                    <!--/*@thymesVar id="categories" type="com.maiyon.model.entity.Category"*/-->
                    <li class="navList-item" th:each="category:${categories}">
                        <a class="navList-action" href="bedroom/index.html" th:text="${category.categoryName}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
